@import "../app/variables.module";

.appointment-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  max-width: 400px;
  height: 50vh;
  z-index: 1000;
  background-color: $silver;
  overflow: auto;
  border-radius: 5px;
  padding: .5em .7em;
  box-shadow: 0 0 2px 3px $black;
  
  .form-title {
    text-align: center;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}